

 <div ng-click="goAlbum()"
         class="dottedBorderRed glow"
         ng-style="previewPaneStyle"
         style="padding:2px;">
        <div ng-controller="AlbumController" style="height:100%">
                <div ng-show="PhotoList[0] && PhotoList[0].StorageURL" ng-style="previewImageStyle">
                        <img  ng-style="previewImageStyle" style="object-fit:cover"
                              ng-src="{{  imageServer + imagePath + PhotoList[0].FileName}}"
                        />        
                </div>

                  <div ng-if="PhotoList[0] && !PhotoList[0].StorageURL" ng-style="previewImageStyle">
                        <div style="height:100%;width:100%;background-image:url('{{oldImagePath + PhotoList[0].FileName}}');
                                                background-size:cover;background-repeat:no-repeat;background-position:center">
                        </div>
                  </div>

                <div ng-show="PhotoList.length==0">
                    <div ng-style="previewImageStyle" style="background-size:cover; background-position:center; background-image : url('./image/online.gif')"></div>
                </div>

        </div>
</div>

