









<div style="z-index:99;width:300px;">

<div class="card" style="box-shadow: 0 10px 6px -6px #777;">
  <div class="card-body skyBlue text-center" >
   
                <p>
                       <span style="font:Centaur;color:#244F55;font-size:18px;">{{question}}</span>
                </p>
 
                <div style="margin-left:auto;margin-right:auto;position:relative;text-align:center">
    
                    <div  class="sheerButton shadow">
                        <a href="" ng-click="confirm()" >Yes
                            </a>
                    </div>
     
    
                    <div class="sheerButton shadow">
                        <a href=""  ng-click="cancel()" >No</a>
                    </div>

                </div>
  </div>
</div>






</div>